/* ! profile-miniholder */

.profile-middel {
  width: 1000px;
  display: flex;
  z-index: -1;
}

.profile-img {
  max-width: 160px;
  width: 100%;
}

.profile-miniholder {
  aspect-ratio: 5/1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.namebox {
  align-items: flex-end;
  display: flex;
  font-size: 19px;
  font-weight: 600;
  color: white;
  font-family: Overpass, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.profile-name {
  padding: 22px 25px;
}

.profile-box-img {
  aspect-ratio: 5 / 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.profile-bc-box {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  z-index: -1;
}

.profile-bc-img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .profile-miniholder {
    min-height: 0px;
  }
}

/* ! profile-miniholder */
