/* !home-left  */

.home-right {
  max-width: 572px;
  width: 100%;
  flex-direction: column;
  display: flex;
  background-color: #0b1622;
}

/* ! in scirpt is html div  */

.activity-box {
  height: 70px;
  background-color: #151f2e;
  overflow: hidden;
  display: flex;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.activity-img {
  width: 50px;
  height: 70px;
}

.activity-inf {
  padding: 14px;
  max-width: 700px;
  width: 100%;
  font-size: 13px;
  color: #9fadbd;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

p {
  margin: 0px;
}

.activity-text {
  margin-bottom: 5px;
}

.activity-img-box-mini {
  height: 36px;
  width: 36px;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 9px;
}

.activity-img-mini {
  width: 100%;
  height: 100%;
}

.activity-inf-right {
  position: relative;
  max-width: 100px;
  width: 100%;
  margin-left: 10px;
}

.like-box {
  bottom: 14px;
  right: 14px;
  position: absolute;
  flex-direction: row;
  display: flex;
  font-family: Overpass, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

button.like-button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.like-button:hover .material-symbols-outlined {
  color: red;
  transition: 0.3s;
}

.likeCount {
  color: #8db2db;
  font-weight: 500;
  font-size: 16px;
  display: flex;
}

.like-box {
  display: flex;
}

.name-activity {
  margin-top: 180px;
  padding: 16px;
  color: rgb(172, 172, 172);
  height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: Overpass, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.activity-box:hover .activity-text {
  color: rgb(20, 170, 207);
  transition: 0.5s;
}

/* ! in scirpt is html div  */

@media (max-width: 1010px) {
  .home-right {
    max-width: 100%;
  }
}
